<html>
    <head><title>Form Page</title></head>
    <body>
        <form #form="ngForm" (submit)="onsubmit(form.value,$event)">
          <div ngModelGroup="personal">
            <div>
              <label>Firstname:</label>
              <input type="text" name="firstname" ngModel>
            </div>
            <div>
              <label>Lastname:</label>
              <input type="text" name="lastname" ngModel>
            </div>
            <div>
              <label>Street:</label>
              <input type="text" name="street" ngModel>
            </div>
            <div>
              <label>Zip:</label>
              <input type="text" name="zip" ngModel>
            </div>
          </div>
          <div ngModelGroup="contact">
            <div>
              <label>City:</label>
              <input type="text" name="city" ngModel>
            </div>
            <div>
              <label>Email :</label>
              <input type="email" name="email" ngModel>
            </div>
          </div>
          <button type="submit">Submit</button>
    </form>

    <pre>
{{form.value | json}}
    </pre>
    
    <h4>Submitted</h4>
    <pre>    
{{value | json }}
    </pre>
    </body>
</html>